<html>

<head>
    <meta charset='utf-8' />
    <title>520SHAV_EleNa</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js'></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="elena_ui"></div>
    <div class="ui_features">
        <h1>EleNa <img id="logo" src="/elena.svg" style="width:15%"></h1>
        <div id="tagline"> Choose your journey</div>
        <br>
        <div id='coordinates'></div>
        <br>
        <div id="start_loc_icon" class="textstyle"><img id="startmarker" src="/start-location-icon.svg" style="width:5%">
            Start Location : 0 </div>
        <div id="end_loc_icon" class="textstyle"><img id="endmarker" src="/end-location-icon.svg" style="width:5%"> End
            Location : 0 </div>
        <br>
        <div id="elevation_type" class="textstyle">
            <input type="radio" name="elevation" class="elevation" value="minimize">
            <label for="elevation">Minimize Elevation</label>
            <input type="radio" name="elevation" class="elevation" value="maximize" checked>
            <label for="elevation">Maximize Elevation</label>
        </div>
        <br>
        <div id="elevation_type" class="textstyle">
        <label for="limit" class="textstyle">Percentage (%) of shortest path &nbsp;&nbsp;</label>
        <input type="number" id="limit" name="limit" min="0" class="textstyle"  style="height: 30px;width: 65px;" value=100>  <br>
        </div>
        <br>
        <button id="reset_button" class="ui_button">Reset</button>
        <button id="calculate_path" class="ui_button" disabled>Choose start location</button>
        <br>
        <br>
        <div id="metrics" class="textstyle"></div>

</body>

</html>